main {
  padding: 1rem;
}

section#product-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

#product-container > .card {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.125);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

#product-container > .card:hover {
  scale: 1.025;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

#product-container > .card.new::after {
  content: "New!";
  font-variant: small-caps;
  font-weight: bold;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #ffff00;
  padding: 0 0.5rem;
}

#product-container > .card.sale::after {
  content: "Sale!";
  font-size: 1.2rem;
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  background-color: #ff0000;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 2rem;
  transform: rotate(45deg) translateX(25%) translateY(-50%);
}

#product-container > .card > img {
  width: 100%;
  object-fit: cover;
}

#product-container > .card > .card-description {
  padding: 1rem 0.75rem 2rem 0.75rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
